/*===============================================================
	Resets
=================================================================*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body,
html {
	height: 100%;
}
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
}
body {
    font-size: 16px;
	font-family: "Montserrat", sans-serif;
}
html, body, div, span, img,
ol, ul, li, a, p, h1, h2, h3,
h4, h5, h6, option, legend, label, article, aside,
caption, figure, footer, header, hgroup,
mark, nav, section, time, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
img {
	border: none;
	outline: none;
	max-width: 100%;
}
label {
	display: inline-block;
	font-weight: normal;
	margin-bottom: 0.5rem;
	max-width: 100%;
}
a {
	outline: none;
	text-decoration: none;
}
a img {
	border: none;
}
a:active {
	outline: none;
	text-decoration: none;
	opacity: 1;
}
a:focus {
	outline: none;
	text-decoration: none;
}
a:hover {
	outline: none;
	text-decoration: none;
	opacity: 1;
}
ul {
	list-style-type: none;
    margin-bottom: 1rem;
}
li {
	list-style: none;
    color: $color-text;
}
iframe {
	border: none;
}
hr {
	margin-top: 0;
	margin-bottom: 0;
	border: 0;
	border-top: 1px solid #eeeeee;
}
pre {
	display: block;
	margin: 0 0 30px;
	padding: 9.5px;
	word-wrap: break-word;
	word-break: break-all;
	color: #333333;
	border: 1px solid #ededed;
	border-radius: inherit;
	background-color: #f9f9f9;
	font-size: 13px;
	line-height: 1.42857143;
}


/*===============================================================
	Margin classes
=================================================================*/

.mr-0 {
	margin: 0;
}
.mrt-small {
	margin-top: 0.75rem;
}
.mrt-normal {
	margin-top: 1.5rem;
}
.mrt-large {
	margin-top: 2rem;
}
.mrt-big {
	margin-top: 2.5rem;
}
.mrt-huge {
    margin-top: 3.2rem;
}
.mrb-small {
	margin-bottom: 0.75rem;
}
.mrb-normal {
	margin-bottom: 1.5rem;
}
.mrb-large {
	margin-bottom: 2rem;
}
.mrb-big {
	margin-bottom: 2.5rem;
}
.mrb-huge {
    margin-bottom: 3.2rem;
}
/*===============================================================
	Padding classes
=================================================================*/
.pd-0 {
	padding: 0;
}
.pdt-small {
	padding-top: 0.75rem;
}
.pdt-normal {
	padding-top: 1.5rem;
}
.pdt-large {
	padding-top: 2rem;
}
.pdt-big {
	padding-top: 2.5rem;
}
.pdt-huge {
	padding-top: 3.2rem;
}
.pdb-small {
	padding-bottom: 0.75rem;
}
.pdb-normal {
	padding-bottom: 1.5rem;
}
.pdb-large {
	padding-bottom: 2rem;
}
.pdb-big {
	padding-bottom: 2.5rem;
}
.pdb-huge {
	padding-bottom: 3.2rem;
}
/*===============================================================
	Sections
=================================================================*/
.section {
	transition: all 1s ease;
}
.section-hidden {
	opacity: 0;
	transform: translateY(8rem);
}
.section-entry {
	padding: 5rem 0;
	overflow: hidden;
}
.section-title {
	margin-bottom: 20px;
}
.section-title-center {
	text-align: center;
}
/*===============================================================
	Global
=================================================================*/
.bg-dark {
	background-color: $dark-mode;
}
.spacer {
	height: 300px;
}
.hr-spacer {
	display: inline-block;
	margin-right: 40px;
}
.main-wrapper {
	position: relative;
	overflow: hidden;
}
.hidden {
	opacity: 0;
	visibility: hidden;
}