html,body {
	margin: 0;
	padding: 0;
	font-family: "Inter", sans-serif;
	font-size: 16px;
    scroll-behavior: smooth;
    height: 100%;
}

 h3 {
    font-weight: 700;
}

.mrt30 {
    margin-top: 20px;
}

.mrt50 {
    margin-top: 50px;
}

.mrb40 {
margin-bottom: 40px;
}

h5{
    
    margin-bottom: 26px;

    span {
        background-color: #e0f6e9;
        padding: 10px;
        border-radius: 10px;
        font-weight: 500;
    }
}

h3 {
    font-weight: 800;
}

.icons-wrap {
    
    margin-top: 15px;

    .icon-width {
        width: 80px;
    }

    h6 {
        margin-top: 10px;
        color: #000;
    }

}

.hm-info-img-box {
    background-image: url("../img/hm-info-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    border-radius: 20px;
}

.hm-service-wrapper {
        background-image: url('../img/bg.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        // background-blend-mode: overlay;
        // background-color: #00000080;

    h5 {
        color: #fff;
    }

    span{
        background-color: #000;
        font-weight: 300;
    }

    .service-box {
        background-color: #fff;
        padding: 15px;
        height: 100%;
    }

    .service-txt-box {
      height: 100%;
    }
}

.owl-nav {
   display: none;
}

.simple-step-wrapper {
    background-image: url('../img/bg-1-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgb(0 0 0 / 80%);;

    h1 {
        font-size: 55px;
        color: #fff;
        font-weight: 800;
    }

    p {
        color: #fff;
    }

    .recycle-box {

        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        margin-top: 4rem;
        text-align: center;

       h6 {
            font-size: 22px;
            margin-top: 15px;
            color: #000;
       }

       p {
         color: #363636;;
       }
    }
}

.hm-btn-2 a {
        background-color: #097e51;
    color: #fff;
    padding: 20px 45px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hm-btn-3 a {
    background-color: #fff;
    color: #000;
    padding: 20px 45px;
    border-radius: 10px;
}


.why-choose-wrapper {
    
    .why-txt-box {
        padding-left: 40px;
   }
}


  .percentage-text-box {
	margin-top: 10px;
  }
  
  .percentage-text-box h6 {
	color: #000;
	margin-top: 20px;
  }
  
  .progress {
	margin-top: 15px;
  }


  .challenges-wrapper {
    background-color: #e0f6e987;
  }


  .counter-wrapper {
        background-image: url('../img/bg-2-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
    background-blend-mode: overlay;
    background-color: #00000080;
    
  }

  .stats-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      padding: 30px 0;
    }

    .stat-block {
      flex: 1 1 200px;
      max-width: 250px;
      text-align: left;
      position: relative;
    }

    .stat-block:not(:last-child)::after {
      content: "";
      position: absolute;
      right: -20px;
      top: 25%;
      height: 50%;
      border-right: 2px solid #fff;
    }

    .stat-number {
          color: #ffffff;
    font-size: 49px;
    font-weight: 700;
    }

    .stat-label {
      font-size: 17px;
      margin-top: 10px;
      color: #fff;
    }

    .bold {
      font-weight: bold;
    }

    @media (max-width: 768px) {
      .stat-block::after {
        display: none;
      }
      .stats-container {
        flex-direction: column;
        align-items: center;
      }
    }

    // .card-side__image-1 {
    //   background-image: url('../img/challenge-1.jpg');
    //   background-position: center;
    //   background-repeat: no-repeat;
    //   background-size: cover;
    //   height: 100%;
    // }


//////////////////////////////////////////////////// About Us //////////////////////////////////////////////////////////////


.page-banner-fixed-about {
    background-image: url('../img/about.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px 0;
    text-transform: uppercase;

    h2 {
    font-weight: 700;
    color: $color-primary;
    margin-bottom: 17px;
}
}

.company-overview {
    text-align: center;
}


.mission-vision-wrapper {
    background-color: #e0f6e9;

   .mission-txt-box {
        background: #fff;
        padding: 15px;
   }

 .mission-img-box {
    background-color: #fff;
    padding: 10px;
}

}



.achievements {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

.achievements h3 {
    margin-bottom: 40px;
}

.achievement-item {
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.achievement-item h4 {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
}

.achievement-item p {
    font-size: 18px;
    color: #777;
}


.testimonials-wrapper {
    
    .header-box {
        margin-bottom: 50px;
    }

    .test-wrap {
       background: #FFF;
        background: radial-gradient(circle, rgb(255, 255, 255) 25%, rgb(224 246 233) 100%);
    padding: 20px;
    text-align: center;

        img {
            border-radius: 50%;
            width: 110px;
        }
    }

    .test-img-box {
        img {
           margin-top: -60px;
        }
    }

   .checked {
       color: orange;
    }

}


.company-cta {
    background-image: url('../img/company-cta.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #000000ad;
    padding: 100px 0;

    h1 {
        color: #fff;
        text-align: center;
        font-weight: 800;
        font-size: 45px;
    }

    p {
        color: #fff;
        font-weight: 300;
        padding: 10px 50px;
        text-align: center;
        line-height: 40px;
    }

    .cta-buttons {
        display: flex;
        justify-content: space-around;
        margin-top: 45px;
    }
}


////////////////////////////// Certificate ////////////////////////////////

.page-banner-fixed-certificate {
    background-image: url('../img/certificate-banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px 0;
    text-transform: uppercase;

    h2 {
    font-weight: 700;
    color: $color-primary;
    margin-bottom: 17px;
}
}

.certificate-wrapper {
    background-color: #effaf3;

     h4 {
    text-align: center;
    margin-top: 30px;
}
}


////////////////////////////// Contact us ////////////////////////////////


.page-banner-fixed-contact {
    background-image: url('../img/contact-us-banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px 0;
    text-transform: uppercase;

    h2 {
    font-weight: 700;
   color: $color-primary;
    margin-bottom: 17px;
}

}


.contact-info-wrapper {
    background-image: url('../img/contact-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


       .contact-info-box i {
        color: #ffffff;
        width: 45px;
        height: 45px;
        font-size: 20px;
        border: 1px solid #fff;
        text-align: center;
        border-radius: 50%;
        line-height: 45px;
        transition: all 0.3s;
        background: #097e51;
    }

    
    a {
        color: #000;
        margin-left: 10px;
        font-weight: 600;
    }

    ul li {
        margin-bottom: 20px;
    }
}

.contact-form-wrap {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px;
    border-radius: 10px;
}

.contact-wrapper {
  padding: 60px 0;
}

.contact-info h3,
.contact-form h3 {
  margin-bottom: 20px;
  font-weight: 700;
}

.contact-info ul {
  padding: 0;
  margin: 0;
}

.contact-info ul li {
  margin-bottom: 10px;
  font-size: 16px;
}

.contact-form .form-control {
  border-radius: 8px;
  padding: 12px;
}

.contact-form button {
  background-color: $color-primary;
  color: $color-white;
  padding: 12px 25px;
  border-radius: 8px;

  &:hover {
      background-color: $color-primary;
  color: $color-white;
  }
}




////////////////////////////// RESIZE ////////////////////////////////

 @media only screen and (max-width: 1200px) { 
        
 }


 @media (min-width: 992px) {
        .navbar .dropdown:hover > .dropdown-menu {
            display: block;
            margin-top: 0;
        }

        .navbar .dropdown-menu {
            margin-top: 0;
            transition: all 0.3s ease-in-out;
        }
    }

 @media only screen and (max-width: 767px) { 

    // #digiCarousel .carousel-item1 {
    //      padding: 87px 0;
    // }

    .mt-40{
      margin-top: 40px
    }

    .icons-wrap {
    margin-top: 15px;
    text-align: center;

}

.card-side {
display: flex; 
flex-direction: column;
align-items: center;
background-color: #ffffff;
overflow: hidden;
position: relative;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.navbar-nav {
    margin-top: 18px;
}
.navbar .nav-link {
    color: #363636;
    line-height: 34px!important;
    text-transform: capitalize;
    letter-spacing: 1.2px;
    font-weight: 600;
    /* font-size: 17px; */
    border-bottom: solid 1px #ededed;
    margin-bottom: 10px;
}
.navbar .nav-link.c-btn {
    color: #ffffff;
    line-height: unset;
    padding: 0rem 1rem;
}

.mb-10{
    margin-bottom: 10px;
}

.nav-item {
    padding-left: 0.4rem;
}

.why-choose-wrapper .why-txt-box {
    padding-left: 2px; 
    margin-top: 40px;
}

.simple-step-wrapper h1 {
   font-size: 33px;
}
.navbar {
    background-color: #0c7d4f!important;
}
.fixed-top {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

 }

 @media only screen and (max-width: 600px) { 

    
 }

 @media only screen and (max-width: 575px) { }