/*====================================================================
	Buttons style-1
=====================================================================*/
.c-btn {
	position: relative;
	padding: 0.5rem 2rem;
	text-decoration: none;
	background-color: $color-primary;
	color: $color-white;
	border-radius: 50px;
	text-transform: capitalize;
	
	&:hover {
		color: $color-white;
		background-color: $color-primary-dark;
	}
}
// Dark mode
body.dark {
	.c-btn {
		background-color: $color-white;
		color: $color-primary;
	
		&:hover {
			background-color: $light-bg2;
		}
	}
}
/*====================================================================
	Buttons style-2
=====================================================================*/
.c-btn.s2 {
	background-color: transparent;
	color: $color-primary;
	border-color: $color-primary;
	border-radius: 50px;
	text-transform: capitalize;
	
	&:hover {
		color: $color-white;
		background-color: $color-primary;
	}
}

/*====================================================================
	Buttons style-3
=====================================================================*/
.c-btn.s3 {
	font-size: 20px;
	text-transform: uppercase;
	background-color: transparent;
	color: #444;
	box-shadow: inset 0 10px 5px rgba($color-black, 0.05), 
	0 25px 8px rgba($color-black, 0.05), 
	0 20px 15px rgba($color-black, 0.05),
	inset 0 -10px 15px rgba($color-white, 0.9);

	&::before {
		content: '';
		position: absolute;
		top: 8px;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 5px;
		width: 65%;
		height: 5px;
		background-color: $color-white;
	}
}
.dark .c-btn.s3 {
	background-color: transparent;
	color: $light-bg2;
	box-shadow: inset 0 10px 5px rgba($color-white, 0.05), 
	0 25px 8px rgba($color-white, 0.05), 
	0 20px 15px rgba($color-white, 0.05),
	inset 0 -10px 15px rgba($color-black, 0.9);

	&:hover {
		background-color: $dark-mode-contrast;
	}

	&::before {
		background-color: $dark-mode-contrast;
	}
}
/*====================================================================
	Buttons style-4
=====================================================================*/
.c-btn.s4 {
	background-color: #0690fd;
	border-radius: 0;
	color: $color-white;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s;
	box-shadow: 0 20px 25px rgba(6, 146, 253, 0.25);
	overflow: hidden;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 17px;

	&:hover {
		width: 200px;
		transition-delay: 0.5s;
	}

	&::before {
		content: '';
		position: absolute;
		right: 25px;
		width: 12px;
		height: 12px;
		border-top: 3px solid $color-white;
		border-right: 3px solid $color-white;
		transform: rotate(45deg);
		transition: all 0.5s;
	}

	&:hover::before {
		transform: rotate(45deg) translate(50px, -50px);
	}

	&::after {
		content: '';
		position: absolute;
		left: -50px;
		width: 12px;
		height: 12px;
		border-top: 3px solid $color-white;
		border-right: 3px solid $color-white;
		transform: rotate(45deg) translate(-50px, 50px);
		transition: all 0.5s;
	}

	&:hover::after {
		transform: rotate(45deg) translate(50px, -50px);
		transition-delay: 1s;
	}

	span {
		visibility: hidden;
		opacity: 0;
		white-space: nowrap;
		transition: all 0.5s;
		transform: translateX(-30px);
	}

	&:hover span {
		visibility: visible;
		opacity: 1;
		transition-delay: 0.75s;
		transform: translateX(10px);
	}
}

.dark .c-btn.s4 {
	background-color: #0690fd;
	color: $dark-mode;
	box-shadow: 0 20px 25px rgba(6, 146, 253, 0.25);

	&::before {
		border-top: 3px solid $dark-mode;
		border-right: 3px solid $dark-mode;
	}

	&::after {
		border-top: 3px solid $dark-mode;
		border-right: 3px solid $dark-mode;
	}

	&:hover {
		color: $dark-mode;
	}
}

/*====================================================================
	Togglers section
=====================================================================*/
.toggler-list {
	padding: 5px;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	li {
		margin-right: 70px;

		img {
			max-width: 50px;
		}
	}
}
.toggler-list-white {
	background-color: $color-primary;
}