/*====================================================================
	Modal style-1
=====================================================================*/
.nav-item-modal {
	display: flex;
	align-items: center;
}

.navbar {
	.nav-link.c-btn {
		color: $color-white;
		line-height: unset;
		padding: 0.5rem 1rem;
	}
}

.dark {
	.navbar {
		.nav-link.c-btn {
			background-color: $color-white;
			color: $color-primary;
		
			&:hover {
				background-color: $light-bg2;
			}
		}
	}
}

.digi-modal {
	width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	padding: 5rem;
	box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
	z-index: 10000;
	transition: all 0.5s;
	background-color: $color-white;
}

.digi-modal-overlay {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(4px);
	z-index: 100;
	transition: all 0.5s;
}

.btn-close-modal {
	font-family: inherit;
	color: inherit;
	position: absolute;
	top: 0.5rem;
	right: 2rem;
	font-size: 4rem;
	cursor: pointer;
	border: none;
	background: none;
}