/*====================================================================
	Two column layout-1
=====================================================================*/
.two-col-l1 {
	height: 100%;

	&__image {
		height: 100%;
		background-image: url('../img/office.jpg');
		@include background-image;
	}

	&__content {
		height: 100%;
	}

	&__text {
		margin-bottom: 2rem;
	}
}
/*====================================================================
	Three column layout-1
=====================================================================*/
.three-column.layout-1 {
	margin-bottom: 2rem;
}
/*====================================================================
	Three column layout-2
=====================================================================*/
.three-column.layout-2 {
	margin-bottom: 2rem;
}