/*====================================================================
	Footer layout-1
=====================================================================*/

.top-footer-wrapper {
	background-color: $color-primary;

	p {
    color: #fff;
    font-weight: 300;
}

 a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
}

   ul {
    line-height: 35px;
    padding: 0;
}

.footer-social-list {
    padding: 0;
    margin-bottom: 0;
    display: flex;
}
.pr-3 {
    padding-right: 1rem !important;

}

i {
	color: #fff;
}

h5 {
    color: #fff;
    position: relative;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 20px;
}
}

.footer-social-list i {
    color: $color-black;
    width: 35px;
    height: 35px;
    font-size: 23px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 35px;
    transition: all .3s;
    background: #fff;
}

.top-footer-wrapper {
	position: relative;
}
.scroll-top {
	position: absolute;
	top: 5px;
	right: 20px;
	color: $color-white !important;
	cursor: pointer;
}
.scroll-top:hover {
	color: $light-bg !important;
}
.bottom-footer-wrapper {
	background-color: $color-black;
	padding: 1rem 0;
}
.dark .bottom-footer-wrapper {
	background-color: $dark-mode;
}
.footer-copyright-text {
	margin-bottom: 0;
	text-align: center;
	font-size: 0.85rem;
	color: $color-white;
}
.creator-link {
	color: #39b7e6;
}
.creator-link:hover {
	color: $color-white;
}