
.contact-form {
    width: 100%;

    &__label {
        padding-left: 1rem;
        font-size: .9rem;
    }

    &__input {
        border-radius: 0;
        border-bottom: 3px solid transparent;
        background-color: $light-bg2;

        &:focus {
            border-color: $color-success;
            box-shadow: none;
            border-bottom: 3px solid $color-success;

            &::placeholder {
                color: transparent;
            }
        }

        &::placeholder {
            color: $color-text;
            font-size: .9rem;
        }
    }

    &__textarea {
        border-radius: 0;
        border-bottom: 3px solid transparent;
        background-color: $light-bg2;

        &:focus {
            border-color: $color-success;
            box-shadow: none;
            border-bottom: 3px solid $color-success;

            &::placeholder {
                color: transparent;
            }
        }
    }

    &__button {
        margin-top: 2rem;
    }
}