@mixin background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin display-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}