/*====================================================================
	Colors variables
=====================================================================*/
$color-black: #000000;
$color-white: #ffffff;
$color-dark: #1b1b1b;
$dark-mode: #2b2b2b;
$dark-mode-contrast: #363636;
$color-primary: #097e51;
$color-secondary: #e0f6e9;
$color-primary-dark: #04113e;
$color-highlight: #fac952;
$color-highlight-dark: #ffae19;
$color-bright: #d81155;
$color-text: #363636;
$color-success: #2cbd08;
$dark-bg: #252525;
$light-bg: #f7f7f7;
$light-bg2: #efefef;

$animate-delay: 0.4s;
